.PlayFair {
  font-family: PlayFair Display;
  font-style: italic;
  font-weight: bold;
  /* font-size: 60px; */
  font-size: 7vw;
}

@media screen and (min-width: 1200px) {
  .PlayFair {
     font-size: 60px;
  }
}

.normalText {
  font-family: muli;
  color: #f1fff1!important;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
}

.smallerText {
  font-size: 24px;
}

.price {
  font-size: 66px
}

.timeTable td {
  padding-left: 10px;
}

.timeTable tr:nth-child(even){
  background-color: #c5c3c3;
}

.timeTable col:first-child {
  width: 80px;
}
