@media all and (max-width: 800px) {
  
  .box {
    width: 50% !important;
    flex-grow: 2;
  }
  
  .navigation li {
    padding: 10px;
    display: block;
    flex-direction: column;
  }
  
  .navigation {
    z-index: 50;
    justify-content: space-around;
    display: none;
    height: 100vh;
  }
  
  #navButton {
    display: block;
  }
  

  
  #mastTitle {
    font-size: 5vw;
  }
  
  .next-button {
    opacity: 0.6;
  }
  
}