@media all and (max-width: 600px) {

  .box {
    width: 100% !important;
    flex-grow: 4;
  }
  
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
      display: none;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
  }
  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
  
  #navButton {
    display: block;
  }

}